<h1>New Order</h1>

<%= form_for(@order) do |f| %>
   
    <%= f.hidden_field :product_id, :value => @product.id %>
      <p> Quantity \ </p>
      <%= f.select(:quantity, options_for_select(1..@product.stock)) %>
      <p>
        <%= f.submit 'Submit' %>
      </p>   
      
     
     
    <% end %>

   
<%= link_to 'Back', orders_path %>
