
<h1>Edit <%= @product.name %></h1>
<%= image_tag(@product.img , size: "300x350", alt: "product Image") %>
<div class='divfo'>
<%= form_for @product do |f| %>
    <div class="form-group">
      <%= f.label :name, "Product Name" %>
  <div class="col-sm-10">
      <%= f.text_field :name %>
    </div></div>
  <div class="form-group">
    <%= f.label :price, "Price" %>
  <div class="col-sm-10">
    <%= f.text_field :price %>
  </div></div>

  <div class="form-group">
    <%= f.label :img, "img" %>
    <div class="col-sm-10">   
    <%= f.text_field :img %>
    </div></div>

    <div class="form-group">
    <%= f.label :description, "description" %>
    <div class="col-sm-10">  
    <%= f.text_field :description %>
    </div></div>

    <div class="form-group">
    <%= f.label :stock, "stock" %>
    <div class="col-sm-10">  
    <%= f.text_field :stock %>
    </div></div>
   
<div class="btn btn-danger"  role="group" aria-label="Basic example">
<%= f.submit "Submit", :class => "btn btn-danger" %> |
<%= link_to 'Show', @product ,:class => "btn btn-danger"%> |
<%= link_to 'Back', products_path ,:class => "btn btn-danger"%>
</div>

  <% end %>
 
</div>
